.about .image img {
    max-height: 350px;
    max-width: 100%;
}
.about .image img.clinic {
    max-height: 470px;
    max-width: 100%;
}
.about .image img.pharmaceuticals {
    max-height: 380px;
}
.about .image img.practicesolution {
    max-height: 480px;
}
.about .image img.medicalhemp {
    max-height: 630px;
}
.about .image img.partnership {
    max-height: 350px;
}
.about .info .title h1 {
    font-family: InterThin;
    font-size: 53px;
    color: rgb(43, 43, 52);
    letter-spacing: 0.1em;
}

.about .info .title h1 .span-name {
    font-family: InterSemiBold;
    color: rgb(46, 39, 148);
}

.about .info .text {
    font-family: AileronRegular;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.about .info .text.home-content.home-content-partnership {
    margin-top: 60px;
}
.about .info .text.home-content {
    font-family: InterRegular;
}
.about .info .text.home-content.diagnostics, .about .info .text.home-content.medicalhemp {
    font-size: 26px;
}
.expand-content.home-content h2, .expand-content.home-content ul li  {
    font-family: AileronRegular;
    font-size: 28px;
}
.expand-content.home-content h2 {
    padding-left: 50px;
    padding-right: 30px;
}
.expand-content.home-content ul {
    padding-left: 75px;
}
.expand-content.home-content ul li {
    margin-bottom: 10px;
}
/* .leadership .text{
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 22, 22);
    text-decoration: none;
} */
.lf {
    padding-left: 50px;
}
.lf.clinic-development {
    padding-right: 50px;
}
.rt {
    padding-left: 30px;
    padding-right: 30px;
}
.lf.image {
    text-align: right;
    padding-right: 0;
}
.rt.image {
    padding-left: 0;
    padding-right: 30px;
}
.about .info .title h1.home-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 48px;
    color: rgb(5, 0, 78);
}
.about .info .title h1.clinic {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 36px;
    color: rgb(5, 0, 78);
}
.about .info .text.clinic {
    font-family: InterThin;
}
.rt .title h1.home-title {
    margin-top: 0;
    margin-bottom: 0;
}
.expand-content .clinic-development {
    padding: 0;
}
.clinic-development img {
    width: 100%;
}
.expand-content {
    margin-top: 10px;
}
.clinic-detail {
    padding-left: 50px;
    padding-right: 50px;
}
.clinic-detail .title h1.clinic-expand {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 42px;
    color: rgb(5, 0, 78);
}
.clinic-expand-detail {
    padding-left: 20px;
}
.clinic-expand-detail p {
    margin: 0;
    font-family: InterRegular;
    font-size: 26px;
}
.clinic-expand-detail .sub-title {
    margin-top: 10px;
}
.clinic-expand-detail.home-content ul li  {
    font-family: AileronRegular;
    font-size: 26px;
    margin-top: 10px;
}
img.clinic_timeline {
    width: 100%;
    height: 335px;
}
.clear-padding {
    padding: 0;
}
.left-timeline {
    background: rgb(46, 39, 148);
    height: 335px;
    padding: 50px;
    color: #fff;
}
.left-timeline h1 {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 42px;
    margin-top: 0px;
    margin-left: 10px;
}
.left-timeline .home-content.clinic {
    margin-top: 40px;
    font-family: InterRegular;
    font-size: 26px;
}
.timeline-plan {
    margin-top: 40px;
    margin-bottom: 40px
}
.clinic-row .row {
    margin-bottom: 30px;
}