.about .image img {
    max-height: 450px;
    max-width: 100%;
}
.about .image img.pharmaceuticals {
    max-height: 380px;
}
.about .image img.practicesolution {
    max-height: 480px;
}
.about .image img.medicalhemp {
    max-height: 630px;
}
.about .image img.partnership {
    max-height: 350px;
}
.about .info .title h1 {
    font-family: InterThin;
    font-size: 53px;
    color: rgb(43, 43, 52);
    letter-spacing: 0.1em;
}

.about .info .title h1 .span-name {
    font-family: InterSemiBold;
    color: rgb(46, 39, 148);
}

.about .info .text {
    font-family: AileronRegular;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.about .info .text.home-content.home-content-partnership {
    margin-top: 60px;
}
.about .info .text.home-content {
    font-family: InterRegular;
}
.about .info .text.home-content.diagnostics, .about .info .text.home-content.medicalhemp {
    font-size: 26px;
}
.expand-content.home-content h2, .expand-content.home-content ul li  {
    font-family: AileronRegular;
    font-size: 28px;
}
.expand-content.home-content h2 {
    padding-left: 50px;
    padding-right: 30px;
}
.expand-content.home-content ul {
    padding-left: 75px;
}
.expand-content.home-content ul li {
    margin-bottom: 10px;
}
/* .leadership .text{
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 22, 22);
    text-decoration: none;
} */
.lf {
    padding-left: 50px;
}
.rt {
    padding-left: 30px;
    padding-right: 30px;
}
.lf.image {
    text-align: right;
    padding-right: 0;
}
.rt.image {
    padding-left: 0;
    padding-right: 30px;
}
.about .info .title h1.home-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 48px;
    color: rgb(5, 0, 78);
}
.lf {

}
.rt .title h1.home-title {
    margin-top: 0;
    margin-bottom: 0;
}