.about .image img {
    max-height: 350px;
    max-width: 100%;
}
.about .image img.diagnostics {
    max-height: 450px;
    max-width: 100%;
}
.about .image img.clinic {
    max-height: 330px;
    max-width: 100%;
}
.about .image img.pharmaceuticals {
    /*max-height: 290px;*/
}
.about .image img.practicesolution {
    max-height: 400px;
}
.about .image img.medicalhemp {
    /*max-height: 655px;*/
}
.about .image img.partnership {
    max-height: 350px;
}
.about .info .title h1 {
    font-family: InterThin;
    font-size: 43px;
    color: rgb(43, 43, 52);
    letter-spacing: 0.1em;
}

.about .info .title h1 .span-name {
    font-family: InterSemiBold;
    color: rgb(46, 39, 148);
}

.about .info .text {
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.about .info .text.home-content.home-content-partnership {
    /*margin-top: 60px;*/
}
.about .info .text.home-content {
    font-family: InterRegular;
}
.about .info .text.home-content.diagnostics {
    font-size: 16px;
}
.about .info .text.home-content.medicalhemp {
    font-size: 16px;
}
.expand-content.home-content h2, .expand-content.home-content ul li, .expand-content.home-content ol li  {
    font-family: InterRegular;
    font-size: 16px;
}
.expand-content.home-content h2 {
    padding-left: 50px;
    padding-right: 30px;
}
.expand-content.home-content ul {
    padding-left: 75px;
}
.expand-content.home-content ul li {
    margin-bottom: 10px;
}
/* .leadership .text{
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 22, 22);
    text-decoration: none;
} */
.lf.lf-about {
    margin-top: 40px;
}
.lf {
    padding-left: 50px;
}
.lf.clinic-development {
    padding-right: 50px;
}
.lf-partnership {
    margin-top: 50px;
}
.lf-pharma {
    margin-top: 30px;
}
.rt-diagnostics {
    margin-top: 50px;
}
.lf.lf-practicesolution {
    margin-top: 40px;
}
.rt-medicalhemp {
    margin-top: 0px;
}
.rt {
    padding-left: 30px;
    padding-right: 30px;
}
.lf.image {
    text-align: right;
    padding-right: 0;
}
.rt.image {
    padding-left: 0;
    padding-right: 30px;
}
.about .info .title h1.home-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78);
}
.about .info .title h1.clinic {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78);
}
.about .info .text.clinic {
    font-family: InterThin;
}
.rt .title h1.home-title {
    margin-top: 0;
    margin-bottom: 0;
}
.expand-content .clinic-development {
    padding: 0;
}
.clinic-development img {
    width: 100%;
}
.expand-content {
    margin-top: 10px;
}
.clinic-detail {
    padding-left: 50px;
    padding-right: 50px;
}
.clinic-detail .title h1.clinic-expand {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 18px;
    color: rgb(5, 0, 78);
}
.clinic-expand-detail {
    /*padding-left: 20px;*/
}
.clinic-expand-detail p, .contact-form .sub-title, .contact-form p, .contact-form .sub-title, .contact-form p a {
    margin: 0;
    font-family: InterRegular;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.clinic-expand-detail .sub-title {
    margin-top: 10px;
}
.clinic-expand-detail.home-content ul li  {
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 5px;
}
img.clinic_timeline {
    width: 100%;
    max-width: 750px;
    margin: 10px 0;
}
.clear-padding {
    padding: 0;
}
.left-timeline {
    background: rgb(46, 39, 148);
    height: 335px;
    color: #fff;
}
.left-timeline .vertical-middle h1 {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 32px;
    margin-top: 0px;
    margin-left: 10px;
}
.left-timeline .vertical-middle .home-content.clinic {
    margin-top: 30px;
    font-family: InterRegular;
    font-size: 22px;
}
.timeline-plan {
    margin-top: 40px;
    margin-bottom: 40px
}
.clinic-row .row {
    margin-bottom: 30px;
}
.vertical-middle {
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lf.tinctures, .lf.salve_stick, .lf.gel_capsules {
    padding-left: 10px;
    padding-right: 0px;
}

.about .info .product-image {
    text-align: center;
}
.about .info .product-image img {
    max-height: 500px;
}
.about .info.gel_capsules .product-image img, .about .info.salve_stick .product-image img{
    /*max-height: 280px;*/
}
.about .product-text {
    padding-left: 10px;
    font-family: InterRegular;
    font-size: 16px;
    color: rgb(43, 43, 52);
    position: relative;
}
.about .info.gel_capsules .product-text {
    padding-left: 10px;
}
.about .product-text {
    font-size: 16px;
}
.about .product-text h1 {
    font-family: InterSemiBold;
    font-size: 30px;
    margin-top: 10px;
}
.about .product-text ul {
    padding-left: 0;
}
.about .product-text ul li {
    list-style: none;
}
.about .image.product-label {
    height: 300px;
    position: relative;
}
.about .image.product-label img {
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.about .wrap-container, .product .row .wrap-container {
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.team-header img {
    float: left;
    width: 35px;
}
.manage-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78)
}
.management-team {
    margin-bottom: 20px;
}
.block-management-team .management-team-header {
    color: #fff;
    height: 85px;
    background: rgb(8, 0, 130);
}
.block-management-team .wrap-container, .contact-form .wrap-container {
    padding-left: 50px;
    padding-right: 50px;
}
.block-management-team .management-team-header h3, .block-management-team .management-team-header h4 {
    font-family: InterRegular;
}
.block-management-team .management-team-header h3 {
    font-size: 18px;
}
.block-management-team .management-team-header h4 {
    font-size: 16px;
}
.block-management-team .management-team-content .wrap-container .content {
    padding: 15px 0;
    line-height: 1.6;
    font-family: InterRegular;
    font-size: 13px;
}
.block-management-team .management-team-content .wrap-container .content p {
    margin-bottom: 5px;
}
.contact-form .wrap-container {
    /*max-width: 1000px;*/
}
a.footerlink:hover, a.footerlink:focus, a.footerlink.active {
    color: #100f45 !important;
    font-weight: bold;
    letter-spacing: 0px;
}
.contact-form {
    margin-bottom: 20px;
}
.contact-form .sub-title {
    margin-bottom: 20px;
}
.contact-form p, .contact-form p a {
    color: rgb(43, 43, 52);
}
.contact-form .contact-detail {
    text-align: left;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-group .form-control {
    height: 35px;
}
.contact-form .btn {
    padding: 10px 30px;
    border-radius: 10px;
    background: #100f45;
    color: #fff;
}
.contact-form .btn:hover {
    background: #47467e;
}
.cus {
    color: rgb(85, 124, 194);
}
.clinic-row {
    margin-top: 80px;
}
.tablinks {
    cursor: pointer;
}
.tablinks.active {
    color: #ffd37c;
}
.about {
    margin-bottom: 30px;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.expand-content .clinic-expand-detail ul, .expand-content .clinic-expand-detail ol {
    padding-left: 30px;
    margin-top: 10px;
}
.expand-content .clinic-expand-detail ol li{
    margin-bottom: 10px;
}