.about .image img {
    /*max-height: 350px;*/
    max-width: 100%;
}
.about .image img.diagnostics {
    max-height: 450px;
    max-width: 100%;
}
.about .image img.clinic {
    max-height: 330px;
    max-width: 100%;
}
.about .image img.pharmaceuticals {
    /*max-height: 290px;*/
}
.about .image img.practicesolution {
    max-height: 400px;
}
.about .image img.medicalhemp {
    /*max-height: 655px;*/
}
.about .image img.partnership {
    /*max-height: 350px;*/
}
.about .info .title h1 {
    font-family: InterThin;
    font-size: 30px;
    color: rgb(43, 43, 52);
}

.about .info .title h1 .span-name {
    font-family: InterSemiBold;
    color: rgb(5, 0, 78);
}

.about .info .text {
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.about .info .text.home-content.home-content-partnership {
    /*margin-top: 60px;*/
}
.about .info .text.home-content {
    font-family: InterRegular;
}
.about .info .text.home-content.diagnostics {
    font-size: 16px;
}
.about .info .text.home-content.medicalhemp {
    font-size: 16px;
}
.expand-content.home-content h2, .expand-content.home-content ul li, .expand-content.home-content ol li  {
    font-family: InterRegular;
    font-size: 16px;
}
.expand-content.home-content h2 {
    padding-left: 50px;
    padding-right: 30px;
}
.expand-content.home-content ul {
    padding-left: 75px;
}
.expand-content.home-content ul li {
    margin-bottom: 10px;
}
/* .leadership .text{
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 22, 22);
    text-decoration: none;
} */
.lf.lf-about {
    margin-top: 0px;
}
.lf {
    padding-left: 50px;
}
.lf.clinic-development {
    padding-right: 50px;
}
.lf-partnership {
    /*margin-top: 50px;*/
}
.lf-pharma {
    margin-top: 0px;
    padding-right: 5px;
}
.rt-diagnostics {
    margin-top: 50px;
}
.lf.lf-practicesolution {
    margin-top: 40px;
}
.rt-medicalhemp {
    margin-top: 0px;
}
.rt {
    padding-left: 30px;
    padding-right: 30px;
}
.lf.image {
    text-align: right;
    padding-right: 0;
}
.rt.image {
    padding-left: 0;
    padding-right: 30px;
}
.about .info .title h1.home-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78);
}
.about .info .title h1.clinic {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78);
}
.about .info .text.clinic {
    font-family: InterThin;
}
.rt .title h1.home-title {
    margin-top: 0;
    margin-bottom: 0;
}
.expand-content .clinic-development {
    padding: 0;
}
.clinic-development img {
    width: 100%;
}
.expand-content {
    margin-top: 10px;
}
.clinic-detail {
    padding-left: 50px;
    padding-right: 50px;
}
.clinic-detail .title h1.clinic-expand , .clinic-detail-column .title h1.clinic-expand {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 18px;
    color: rgb(5, 0, 78);
}
.clinic-expand-detail {
    /*padding-left: 20px;*/
}
.clinic-expand-detail p, .contact-form .sub-title, .contact-form p, .contact-form .sub-title, .contact-form p a {
    margin: 0;
    font-family: InterRegular;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.clinic-expand-detail .sub-title {
    margin-top: 10px;
}
.clinic-expand-detail.home-content ul li  {
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 5px;
}
img.clinic_timeline {
    width: 100%;
    max-width: 750px;
    margin: 10px 0;
}
.clear-padding {
    padding: 0;
}
.left-timeline {
    background: rgb(46, 39, 148);
    height: 335px;
    color: #fff;
}
.left-timeline .vertical-middle h1 {
    font-family: InterBold;
    letter-spacing: 0.0em;
    font-size: 32px;
    margin-top: 0px;
    margin-left: 10px;
}
.left-timeline .vertical-middle .home-content.clinic {
    margin-top: 30px;
    font-family: InterRegular;
    font-size: 22px;
}
.timeline-plan {
    margin-top: 40px;
    margin-bottom: 40px
}
.clinic-row .row {
    margin-bottom: 30px;
}
.vertical-middle {
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lf.tinctures, .lf.salve_stick, .lf.gel_capsules {
    padding-left: 10px;
    padding-right: 0px;
}

.about .info .product-image {
    text-align: center;
}
.about .info .product-image img {
    max-height: 500px;
}
.about .info.gel_capsules .product-image img, .about .info.salve_stick .product-image img{
    /*max-height: 280px;*/
}
.about .product-text {
    padding-left: 10px;
    font-family: InterRegular;
    font-size: 16px;
    color: rgb(43, 43, 52);
    position: relative;
}
.about .info.gel_capsules .product-text {
    padding-left: 10px;
}
.about .product-text {
    font-size: 16px;
}
.about .product-text h1 {
    font-family: InterSemiBold;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(5, 0, 78);
}
.about .product-text ul {
    padding-left: 0;
}
.about .product-text ul li {
    list-style: none;
}
.about .image.product-label {
    height: 300px;
    position: relative;
}
.about .image.product-label img {
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.about .wrap-container, .product .row .wrap-container {
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.team-header img {
    float: left;
    width: 35px;
}
.manage-title {
    font-family: InterSemiBold;
    letter-spacing: 0.0em;
    font-size: 30px;
    color: rgb(5, 0, 78)
}
.management-team {
    margin-bottom: 20px;
}
.block-management-team .management-team-header {
    color: #fff;
    height: 85px;
    background: rgb(8, 0, 130);
}
.block-management-team .wrap-container, .contact-form .wrap-container {
    padding-left: 50px;
    padding-right: 50px;
}
.block-management-team .management-team-header h3, .block-management-team .management-team-header h4 {
    font-family: InterRegular;
}
.block-management-team .management-team-header h3 {
    font-size: 18px;
}
.block-management-team .management-team-header h4 {
    font-size: 16px;
}
.block-management-team .management-team-content .wrap-container .content {
    padding: 15px 0;
    line-height: 1.6;
    font-family: InterRegular;
    font-size: 13px;
}
.block-management-team .management-team-content .wrap-container .content p {
    margin-bottom: 5px;
}
.contact-form .wrap-container {
    /*max-width: 1000px;*/
}
a.footerlink:hover, a.footerlink:focus, a.footerlink.active {
    color: #100f45 !important;
    font-weight: bold;
    letter-spacing: 0px;
}
.contact-form {
    margin-bottom: 20px;
}
.contact-form .sub-title {
    margin-bottom: 20px;
}
.contact-form p, .contact-form p a {
    color: rgb(43, 43, 52);
}
.contact-form .contact-detail {
    text-align: left;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-group .form-control {
    height: 35px;
}
.contact-form .btn {
    padding: 10px 30px;
    border-radius: 10px;
    background: #100f45;
    color: #fff;
}
.contact-form .btn:hover {
    background: #47467e;
}
.cus {
    color: rgb(85, 124, 194);
}
.clinic-row {
    margin-top: 110px;
}
.tablinks {
    cursor: pointer;
}
.tablinks.active {
    color: #ffd37c;
}
.about {
    margin-bottom: 30px;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.expand-content .clinic-expand-detail ul, .expand-content .clinic-expand-detail ol {
    padding-left: 30px;
    margin-top: 10px;
}
.expand-content .clinic-expand-detail ol li{
    margin-bottom: 10px;
}
.partnership-middle {
    padding: 0;
}
.clinic-detail {
    padding-right: 0px;
}
.partnership-middle .clinic-detail {
    padding-right: 20px;
}
.management-team, .block-management-team {
    display: none;
}
/* Style the tab content */
.tabcontent2 {
    display: none;
}
.tab-management {
    margin-top: 20px;
    text-align: center;
    padding-right: 0px;
}
.tab-management ul {
    list-style: none;
    display: inline-flex;
}
.tab-management ul li {
    margin-left: 20px;
}
.tab-management ul li a {
    color: #777;
}
.tab-management ul li a .text {
    text-transform: uppercase;
    font-size: 14px;
    font-family: InterRegular;
}
.tab-management ul li a .text .line {
    height: 2px;
    margin-top: 2px;
    margin-left: -4px;
    margin-right: -4px;
    background-color: rgb(85, 124, 194);
    opacity: 0;
}
.tab-management ul li a:hover {
    text-decoration: none;
}
.tab-management ul li a:hover .text {
    color: rgb(85, 124, 194) !important;
}
.tab-management ul li a:hover .text .line {
    opacity: 1;
}
.tab li.active {
    color: rgb(85, 124, 194);
}
.tab ul li.active a .text {
    color: rgb(85, 124, 194) !important;
}
.tab ul li.active a .text .line{
    opacity: 1;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.management-team-tab div {
    margin: 0;
    padding: 0;
}
.management-team-tab img {
    width: 100%;
    visibility: hidden;
}
.management-team-tab .wrap {
    position: relative;
}
.management-team-tab figcaption {
    top: 0;
    position: absolute;
    display: none;
    background: #1e3c8dad;
    opacity: 0.9;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 15px 30px;
    color: #fff;
}
.management-team-tab .wrap:hover {
}
.management-team-tab .wrap:hover figcaption {
    display: block;
}
#management_team .text, #medical_advisors .text {
    text-align: left;
    margin: 15px 0;
}
.tab-management {
    font-family: InterRegular;
}
.management-team-tab .wrap figcaption h3 {
    font-family: InterSemiBold;
}
.management-team-tab .wrap figcaption h4 {
    font-size: 16px;
    line-height: 1.4;
}
.management-team-tab .wrap figcaption p {
    font-size: 12px;
    line-height: 1.5;
    cursor: default;
}

.management-team-tab .image-temp {
    width: 100%;
    background: rgba(5, 0, 78, 0.7);
    background: #f3f3f366;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.management-team-tab .image-temp.last-column {
    border-right: none;
}
.management-team-tab .image-temp.last-row {
    border-bottom: none;
}
.management-team-tab .image-temp.even {
    width: 100%;
    background: #f3f3f366;
}
.text-temp {
    top: 0;
    position: absolute;
    height: 100%;
    text-align: left;
    padding: 15px 30px !important;
}
.text-temp {
    text-align: left;
}
.text-temp h4 {
    font-family: InterRegular;
    font-size: 16px;
    line-height: 1.4;
}
.text-temp h3 {
    font-family: InterSemiBold;
}
.management-team-tab .wrap:hover .text-temp {
    display: none;
}
.text-temp.odd {
    /*color: #fff;*/
}
.expand-content.home-content ul {
    /*list-style: none;*/
}
.navbar {
    /*top: 0px;*/
}
.wrap-pad {
    padding-left: 50px;
}
.management-team-tab {
    padding-left: 50px;
}
.expand-content.home-content ul li {
    margin-bottom: 5px;
    overflow-wrap: break-word;
}
.logo-new {
    text-align: center;
    margin-top: 30px;
}
.clinic-detail .small-title h1.clinic-expand, .clinic-detail-column .small-title h1.clinic-expand {
    font-size: 16px;
}
.about .info .text.home-content p, .clinic-expand-detail p {
    margin-bottom: 5px;
}
.about .product-text h1 {
    float: left;
}
.header-title {
    display: inline-block;
    width: 100%;
}
.header-title a {
    float: right;
    font-size: 13px;
    margin-top: 15px;
    margin-right: 20px;
    font-family: InterRegular;
}
.header-title a i {
    width: auto;
    margin: 0;
}
.header-title a i:hover {
    color: rgb(85, 124, 194) !important;
}
@media only screen and (max-width: 767px) {
.lf {
padding-left: 20px;
}
.about .wrap-container, .product .row .wrap-container {
width: 100%;
}
.clinic-detail {
padding-left: 20px;
}
h1 {
margin-top: 10px;
}
.wrap-pad {
padding-left: 20px;
}
.tab-management ul {
display: flex;
}
.tab-management ul li {
padding-left: 0;
margin-right: 10px;
margin-left: 0;
}
.management-team-tab {
padding-left: 0;
}
.clinic-detail p {
padding-right: 20px;
}
.rt.image, .lf.image {
padding: 0;
}
.about .info .text {
text-align: left;
margin-right: 5px;
margin-top: 15px;

}
.reset-padding {
padding: 0;
}
.wrap-sp {
padding-right: 20px !important;
padding-left: 20px !important;
}
.clinic-detail-column.lf {
padding-left: 0 !important;
padding-right: 0 !important;
}
.expand-content.home-content ul li {
padding-right: 20px;
}
.lf.lf-practicesolution {
margin-top: 0;
}
.about .lf.lf-practicesolution .text {
margin-right: 5px;
margin-bottom: 20px;
}
.rt {
padding-left: 20px;
padding-right: 20px;
}
.rt-diagnostics {
margin-top: 10px;
}
.about .info .text.home-content.diagnostics {
margin-right: 0px;
}
.clinic-row {
margin-top: 75px;
}
.clinic-expand-detail.home-content ul li {
padding-right: 20px;
}
.about .info .title h1 {
font-size: 26px;
}
.about .info .text {
font-size: 14px;
}
.clinic-detail .title h1.clinic-expand, .clinic-detail-column .title h1.clinic-expand {
font-size: 16px;
}
.partnership-middle .clinic-detail {
padding-right: 0;
}
.contact-form .contact-detail {
text-align: center;
margin-bottom: 15px;
}
.contact-form .wrap-container {
padding-right: 20px;
padding-left: 20px;
}
.contact-form .sub-title {
margin-bottom: 10px;
text-align: center
}
.contact-form .btn {
width: 100%;
}
.about .info .product-image img {
margin-top: 20px;
max-height: 300px;
}
.lf.tinctures, .lf.salve_stick, .lf.gel_capsules {
padding-left: 0;
padding-right: 0;
}
.about .product-text {
padding-left: 20px;
padding-right: 20px;
font-size: 14px;
}
.about .product-text h1 {
font-size: 26px;
}
select.form-control {
font-size: 10px;
overflow-wrap: break-word;
}
.logo-new {
margin-top: 15px;
}
.logo-new img {
max-width: 200px;
}
.about .info .title h1.home-title {
font-size: 26px;
}
.clinic-detail .small-title h1.clinic-expand, .clinic-detail-column .small-title h1.clinic-expand {
font-size: 14px;
}
.clinic-expand-detail.small-title ul li, .clinic-expand-detail.small-title ul li {
font-size: 14px;
}
.expand-content.home-content h2, .expand-content.home-content ul li, .expand-content.home-content ol li {
font-size: 14px;
}
.clinic-expand-detail p, .contact-form .sub-title, .contact-form p, .contact-form .sub-title, .contact-form p a {
font-size: 14px;
}
.text-temp h3 {
font-size: 20px;
}
.text-temp h4 {
font-size: 14px;
}
.management-team-tab .wrap figcaption p {
font-size: 11px;
}
    .header-title a {
        font-size: 11px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .header-title a i {
        width: 25px;
    }
}