.my-container {
    padding-right: 0px;
    padding-left: 0px;
}

/* Header */
.navbar {
    margin-bottom: 0px;
    position: fixed;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    border: none;
}

.navbar .nav li a {
    display: flex;
}
.navbar .nav li a .menu-icon {
    opacity: 0;
}
.navbar .nav li a .menu-icon1 {
    display: none;
    margin-top: 5px;
    margin-right: 5px;
}
.navbar .nav li a .menu-icon img {
    width: 16px;
}
.navbar .nav li a:hover .menu-icon {
    opacity: 1;
    display: inline-block;
}
.navbar .nav li a.active .menu-icon {
    opacity: 1;
    display: inline-block;
}


.navbar .nav li a .text {
    text-transform: uppercase;
    font-size: 14px;
    font-family: InterRegular;
}

.navbar .nav li a .line {
    height: 2px;
    margin-top: 2px;
    margin-left: -4px;
    margin-right: -4px;
    background-color: rgb(85, 124, 194);
    opacity: 0;
}

.navbar .nav li a:hover .text {
    color: rgb(85, 124, 194) !important;
}

.navbar .nav li a:hover .line {
    opacity: 1;
}

.navbar .nav li a.active .text {
    color: rgb(85, 124, 194);
}

.navbar .nav li a.active .line {
    opacity: 1;
}

.navbar .nav li a .text.last {
    font-weight: 800;
    color: rgb(43, 43, 52);
}

.navbar .nav .menu-icon1 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("../image/mini_logo.png");
    height: 10px;
    width: 10px;
}
.navbar .navbar-header .navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar .navbar-header .navbar-brand img {
    width: 130px;
    margin-top: 5px;
}
/* End Header */

/* Custom css */
.block-top {
    margin-top: 110px;
}

.height-block {
    min-height: calc(100vh - 145px);
}

.pr-0 {
    padding-left: 0 !important;
}

.pr- {
    padding-right: 0 !important;
}

.pl-3 {
    padding-right: 30px !important;
}
.mr-0 {
    margin-left: 0 !important;
}

.ml-0 {
    margin-right: 0 !important;
}
/* End Custom css */

/* Footer */
.footer {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.footer .row {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: flex;
    width: fit-content;
}

.footer .row .item-footer {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer .row .item-footer a {
    color: #333333;
}
.footer .row .item-footer a:hover {
    text-decoration: none;
}

/* End Footer */


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}
.navbar {
    border-radius: 0px;
    /*box-shadow: 0px 2px 5px rgba(0,0,0,0.5);*/
}
.navbar .container-fluid {
    max-width: 1300px;
    margin: 0 auto;
}
.carousel-control:focus, .carousel-control:hover {
    opacity: 0 !important;
}
.carousel-control.right, .carousel-control.left {
    opacity: 0 !important;
}
.sub-menu {
    display: none;
    position: absolute;
    background: #fff;
    padding-left: 15px;
    padding-bottom: 10px;
    line-height: 1.5em;
    list-style: none;
    padding-right: 20px;
    width: 210px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.sub-menu li {
    display: inline-block;
    margin-bottom: 5px;
}
.sub-menu li a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: InterRegular;
    color: #777;
}
.sub-menu li a:hover {
    text-decoration: none;
}
.navbar .nav li a .line {
    height: 2px;
    margin-top: 2px;
    margin-left: -4px;
    margin-right: -4px;
    background-color: rgb(85, 124, 194);
    opacity: 0;
}
.navbar .nav li:hover .sub-menu {
    display: block;
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 17%;
        left: 17%;
    }
}
