.product {
    margin-bottom: 10px;
}
.product .title h1 {
    font-family: InterSemiBold;
    font-size: 30px;
    color: rgb(43, 43, 52);
    letter-spacing: 0.1em;
}

.product .title h1 .span-name {
    font-family: InterSemiBold;
    color: rgb(5, 0, 78);
}

.product .item {
    cursor: pointer;
    height: 200px;
}
.product .row.item-1, .product .row.item-2 {
    margin: 0;
}
.product .row.item-2 {
    background-color: rgb(5, 0, 78);
    color: #fff !important;
}

.product .item .item-image {
    /*width: 100%;*/
    height: 150px;
}

.product .item .item-left {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 22%;
}

.product .item .item-right {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px;
    width: 78%;
}

.product .item .item-name {
    font-family: InterSemiBold;
    font-size: 18px;
    color: rgb(5, 0, 78);
    padding-left: 0;
}

.product .row.item-2 .item .item-name {
    color: #fff;
}

.product .item.item-2 .item-name {
    color: #fff !important;
}

.product .item .item-info .item-info-text {
    font-family: InterRegular;
    font-size: 14px;
}

.product .item .item-info .item-info-blue {
    display: flex;
}

.product .item .item-info .item-info-blue .blue-1 {
    width: 40%;
}

.product .item .item-info .item-info-blue .blue-2 {
    width: 60%;
}

.product .item .item-info .item-info-blue .blue-2 .text {
    font-family: InterRegular;
    font-size: 12px;
    color: rgb(5, 0, 78);
    text-align: center;
    margin-top: 5px;
}

.product .row.item-2 .item .item-info .item-info-blue .blue-2 .text {
    color: #fff !important;
}
.product .item .item-info {
    position: relative;
    padding-right: 70px;
    padding-left: 0;
}
.product .item .item-info .arrow {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    width: 28px;
}
.product .item:hover .item-info .arrow {
    display: block;
}
.product .wrap-container {
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.product .info .text {
    /*margin-left: 40px;*/
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.product .info .text {
    font-family: InterRegular;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}
#product-category {
    font-family: InterRegular;
    font-size: 16px;
    padding-left: 0;
}
#product-category li {
    list-style: none;
}
.product-category {
    padding-left: 100px !important
}
.product-category .sub-title {
    font-size: 18px;
    font-family: InterSemiBold;
}
.product-line .product-line-title {
    font-family: InterSemiBold;
    font-size: 18px;
    color: rgb(5, 0, 78);
    padding-left: 50px;
}
.lf {
    padding-left: 50px;
}