.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px
} 
.fa:hover { 
    opacity: 0.7;
    color: white;
} 
.fa-facebook { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-twitter { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-google { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-linkedin { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-youtube { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-instagram { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-pinterest { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-snapchat-ghost { 
    background: rgb(5, 0, 78);
    color: white; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
} 
.fa-skype { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-android { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-dribbble { 
    background: rgb(5, 0, 78);
    color: white; 
} 
.fa-vimeo { 
    background: #45bbff; 
    color: white; 
} 
.fa-tumblr { 
    background: #2c4762; 
    color: white; 
} 
.fa-vine { 
    background: #00b489; 
    color: white; 
} 
.fa-foursquare { 
    background: #45bbff; 
    color: white; 
} 
.fa-stumbleupon { 
    background: #eb4924; 
    color: white; 
} 
.fa-flickr { 
    background: #f40083; 
    color: white; 
} 
.fa-yahoo { 
    background: #430297; 
    color: white; 
} 
.fa-soundcloud { 
    background: #ff5500; 
    color: white; 
} 
.fa-reddit { 
    background: #ff5700; 
    color: white; 
} 
.fa-rss { 
    background: #ff6600; 
    color: white; 
}